body {
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

nav {
    background-color: #7575FF;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    font-weight: bold;
}

nav a {
    text-decoration: none;
    color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    color: #32325d;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.nav-primary {
    margin-left: 30px;
}

.nav-secondary {
    float: right;
    padding-right: 10px;
}

.nav-secondary .dropdown-content {
    right: 0;
}

.upper {
    text-transform: uppercase;
}

.dropdown-content a {
    color: rgb(75, 75, 163);
}