<!DOCTYPE html>

<html>
    <head>
        <title>{% block title %}{% endblock %}Pinnochio’s Pizza & Subs</title>
    </head>
    <body>
        <nav>
            {% if request.user.is_authenticated %}
                {{ request.user.username }}
                <a href="{% url 'log_out' %}">Log out</a>
            {% else %}
                <form action="{% url 'sign_in' %}" method="post">
                    {% csrf_token %}
                    {{ sign_in_form }}
                    <input type="submit" value="Submit">
                </form>
                <a href="{% url 'sign_up' %}">Sign up</a>
            {% endif %}
        </nav>
        {% block body %}
        {% endblock %}
    </body>
</html>