<!DOCTYPE html>

<html>
    <head>
        <title>{% block title %}{% endblock %}Pinnochio’s Pizza & Subs</title>

        {% load static %}
        <link rel="shortcut icon" type="image/png" href="{% static 'orders/favicon.ico' %}"/>
        <link rel="stylesheet" href="{% static 'orders/styles.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">
    </head>
    <body>
        <div class="menu">
            <nav>
                <ul>
                    {% if request.user.is_authenticated %}
                        <li class="dropdown nav-secondary">
                            <span class="upper">{{ request.user.username }}</span>
                            <div class="dropdown-content">
                                <a class="dropdown-link" href="{% url 'log_out' %}">Log out</a>
                            </div>
                        </li>
                    {% else %}
                        <li class="dropdown nav-secondary">
                            <span class="upper">Sign in to order &#10142;</span>
                            <div class="dropdown-content">
                                <form action="{% url 'sign_in' %}" method="post">
                                    {% csrf_token %}
                                    {{ sign_in_form }}
                                    <input type="submit" value="Submit">
                                </form>
                                <span>New user? <a class="dropdown-link" href="{% url 'sign_up' %}">Sign up</a></span>
                            </div>
                        </li>
                    {% endif %}
                </ul>
            </nav>
            <h1 class="title">Pinocchio's</h1>
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>