<!DOCTYPE html>

<html>
    <head>
        <title>{% block title %}{% endblock %}Pinnochio’s Pizza & Subs</title>

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>

        <script id="cart-item" type="text/x-handlebars-template">
            {% verbatim %}
            <p data-id="{{id}}">{{size}} {{name}} {{category}}: {{price}}</p>
            {% endverbatim %}
        </script>

        {% load static %}
        <link rel="shortcut icon" type="image/png" href="{% static 'orders/favicon.ico' %}"/>
        <link rel="stylesheet" href="{% static 'orders/css/styles.css' %}">

        <script src="{% static 'orders/js/index.js' %}"></script>
    </head>
    <body>
        <div class="menu">
            <nav>
                <ul>
                    <li>
                        <span id="cart-icon" class="material-icons">shopping_cart</span>
                    </li>
                    {% if request.user.is_authenticated %}
                    <li class="dropdown nav-secondary">
                        <span>{{ request.user.username }}</span>
                        <span class="material-icons">keyboard_arrow_down</span>
                        <div class="dropdown-content">
                            <a class="dropdown-link" href="{% url 'log_out' %}">Log out</a>
                        </div>
                    </li>
                    {% else %}
                    <li class="dropdown nav-secondary">
                        <span>Sign in to order &#10142;</span>
                        <div class="dropdown-content">
                            <form action="{% url 'sign_in' %}" method="post">
                                {% csrf_token %}
                                {% for field in sign_in_form %}
                                <div class="form-item">
                                    <label>{{field.label }}</label>
                                    <br>
                                    {{ field }}
                                </div>
                                {% endfor %}
                                <button class="btn-primary" type="submit">Sign in</button>
                            </form>
                            <span>New user? <a class="dropdown-link" href="{% url 'sign_up' %}">Sign up</a></span>
                        </div>
                    </li>
                    {% endif %}
                </ul>
            </nav>
            <h1 class="title"><a href="{% url 'index' %}">Pinocchio's</a></h1>
            {% block body %}
            {% endblock %}
        </div>
        <section id="shopping-cart" class="shopping-cart"></section>
    </body>
</html>