{% extends "orders/base.html" %}

{% block body %}
    Welcome to the index page.

    {% if not request.user.is_authenticated %}
        <form action="{% url 'sign_in' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit">
        </form>
    {% endif %}

    <h1>Menu</h1>
    {% for category in categories %}
        <h3>{{ category.name }}</h3>
        <table>
            <tr>
                <th></th>
                <th>Small</th>
                <th>Large</th>
            </tr>
        {% for item in category.items %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.small_price }}</td>
                <td>{{ item.large_price }}</td>
            </tr>
        {% endfor %}
        </table>
    {% endfor %}

{% endblock %}
